<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="">
        version:<input type="text" placeholder="master" id="branch" name="branch">
        file name:<input type="text" id="file_name" name="file_name"><br>
        content: <input type="text" id="content" name="content"><br>
        commit_msg:<input type="text" id="msg" name="msg"><br>

        <input type="submit" value="submit">
    </form>
</body>
</html>